@import "../../style.scss";
.posts {
    display: flex;
    flex-direction: column;
    gap: 5ch;
    @include themify($themes) {
    .post {
        background-color: themed("bg");
        padding: 3ch 3ch;
        border-radius: 8px;
        .post-head{
            display: flex;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
                margin-right: 2ch;
                cursor: pointer;
            }
            .user-infos {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user-info {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0;
                        font-size: 1.8ch;
                        font-weight: 500;
                    }
                    .small {
                        font-size: 1.3ch;
                    }
                }
                .icon {
                    cursor: pointer;
                }
            }
        }
        .post-content {
            margin-top: 3ch;
            img {
                width: 100%;
                margin-top: 1ch;
                margin-bottom: 1ch;
            }
            p {
                line-height: 2.8ch;
                text-align: justify;
                font-size: 1.5ch;
            }
            .post-reactions {
                margin-top: 1ch;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 2ch;
                a {
                    color: themed('textColor');
                    text-decoration: none;
                    font-size: 1.4ch;
                }
                .icon {
                    cursor: pointer;
                }
                .post-like {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1ch;
                }
            }
        }
    }
}
}