@import "../../style.scss";
.profile {
    @include themify($themes) {
    background-color: themed('bgSoft');
    color: themed('textColor');
    width: 60vw;
    padding: 3.5ch 7ch;
    display: flex;
    flex-direction: column;
    gap: 4ch;
}
}