@import "../../style.scss";
.home {
    @include themify($themes) {
    background-color: themed('bgSoft');
    color: themed('textColor');
    width: 60vw;
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
}