@import "../../style.scss";

.rightbar {
    @include themify($themes) {
    width: 25vw;
    background-color: themed("bgSoft");
    color: themed('textColor');
    position: sticky;
    top: 70.5px;
    height: calc(100vh - 70.5px);
    overflow: scroll;
    padding-bottom: 10px;
    &::-webkit-scrollbar{
        display: none;
    }
    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
    .container {
        hr {
            border: none;
            height: 0.5px;
            background-color: themed('border');
            width: 60%;
            margin-right: 40%;
        }
        
        .box {
            -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            -moz-box-shadow : 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            margin-top: 30px;
            background-color: themed('bg');
            padding: 20px;
            margin-right: 10px;
            border-radius: 8px;
            .title {
                h4 {
                    margin-top: 0;
                    padding-top: 0;
                    font-weight: 600;
                    color: themed('textColor');
                }
            }
            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                margin-bottom: 20px;
                .item-icon {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                button {
                    border: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    color: white;
                    font-weight: 600;
                    font-size: 12px;
                }
                .add {
                    background-color: rgba(49, 49, 179, 0.755);
                }
                .dismiss {
                    background-color: rgba(168, 43, 43, 0.755);
                }
            }
            .first-item {
                margin-top: 30px;
            }
            .last-item{
                margin-bottom: 30px;
            }
        }
        .latest {
            p {
                margin: 0;
                padding: 0;
            }
            .activity {
                font-size: 12px;
                color: themed('textColorSoft');
            }
            .a-time {
                font-size: 10px;
                color: themed('textColorSoft');
            }
        }
        .friends-online {
            .item {
                .img-box {
                    width: 30px;
                    height: 30px; 
                    position: relative;
                    .online-buble {
                        position: absolute;
                        top: 0;
                        right: -3px;
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                    }
                    .green {
                        background-color: rgb(15, 233, 51);
                    }
                }
            }  
        }
    }
}
}